<h1 style="text-align:center;">Blackjack!</h1>

<h2> Welcome to the game <%= session[:username]%>. Good luck!</h2>


<h4>Dealer's hand:</h4> 
<div class="well">
  <img class="card_display" src="/img/cards/cover.jpg">
  <% session[:dealer_cards][1..session[:dealer_cards].count].each do |card| %>
  <img class="card_display" src="<%= card_img_selector(card) %>">
  <% end %>
</div>

<br />
<br />

<h4>Your hand:</h4> 
<div class="well">
	<% session[:player_cards].each do |card| %>
	<img class="card_display" src="<%= card_img_selector(card) %>">
	<% end %>
</div>

<br />
<br />

<p>
	Your ideal total is <%= calculate_total(session[:player_cards]) %> currently. Would you like to hit or stay?
</p>
<br />

<% if @show_hit_and_stay_buttons %>
<form id="hit_form" method="post" action="/game/player/hit">
	<input name="hit" class="btn btn-success" type="submit" value="Hit!">
</form>
<form id="stay_form" method="post" action="/game/player/stay">
	<input name="stay" class="btn btn-warning" type="submit" value="Stay!">
</form>
<% end %>