<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack, baby!</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/game">New Game</a></li>
              <li><a href="/new_user">Change username?</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <%elsif @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
